:root {
  --primary-white-color: #ffffff;
  --accent-color: #ff6c00;
  --dark-color: #303030;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #dfdede;
}

.header {
  background-color: grey;
}
.link {
  text-decoration: none;
}
/* .link:visited {
  color: var(--dark-color);
} */
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* .button-order {
  display: inline-block;
  background: var(--logo-and-button-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--primary-white-color);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 48px;
  border: none;
}
.button-order:hover,
.button-order:focus {
  background: var(--accent-color);
} */
.pointer {
  cursor: pointer;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */
.navi-link:focus,
.navi-link:hover {
  color: var(--accent-color);
}

.header-navi {
}

.header-logo {
}

.navi-list {
}

.navi-item {
}

.navi-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-white-color);
}

.navi-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.navi-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* reset styles */
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
