:root {
  --primary-white-color: #ffffff;
  --accent-color: #ff6c00;
  --dark-color: #303030;
  --grey-rgba: rgba(157, 164, 189, 0.6);
  --grey-main: #9da4bd;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #dfdede;
}

.header {
  background-color: grey;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.pointer {
  cursor: pointer;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

.header-navi {
}

.header-logo {
}

.navi-list {
}

.navi-item {
}

.navi-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-white-color);
}
.navi-link:focus,
.navi-link:hover {
  color: var(--accent-color);
}
.navi-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.button-book {
  display: inline-block;
  font-family: inherit;
  background-color: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 20px;
  color: var(--primary-white-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}
.button-book:hover,
.button-book:focus {
  background-color: var(--accent-color);
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-color);
}
/* hero */
.small-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--grey-rgba);
}
.hero-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--grey-main);
}

/* reset styles */
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
